version: '3.9'

services:
  angular-app:
    build:
      context: .
      dockerfile: Dockerfile.angular
    container_name: angular-app
    ports:
      - "4200:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    external: true
