.mapa-container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

:host ::ng-deep .p-card {
  background: none !important;
  color: #f2f3f4;
  box-shadow: var(--p-card-shadow);
  border-radius: var(--p-card-border-radius);
  display: flex;
  flex-direction: column;
}

.ativo-card {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;

}

.ativo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
