<div class="checklist-container">
  <h3>Gráfico de Checklist</h3>

  <div class="inputs">
    <!-- Selecionar Data -->
    <p-calendar [(ngModel)]="diaSelecionado" dateFormat="yy-mm-dd" placeholder="Selecione o dia"></p-calendar>

    <!-- Selecionar Hora Inicial -->
    <p-calendar [(ngModel)]="horaInicialSelecionada" timeOnly="true" hourFormat="24" placeholder="Hora inicial"></p-calendar>

    <button pButton type="button" label="Iniciar Checklist" (click)="iniciarChecklist()" [disabled]="loading"></button>

  </div>


  <div *ngIf="loading">Carregando...</div>

  <div style="height: 400px;" *ngIf="!loading">
    <canvas baseChart
      [data]="chartData"
      [options]="chartOptions"
      [type]="'line'">
    </canvas>
  </div>
</div>
